:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Nunito Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --text-color-black: #000;
  --text-color-white: #fff;
  --text-color-body: #333;
  --text-color-light-grey: #f7f7f7;
  --text-color-yellow: #f9b22d;
  --text-color-red: #de3a3e;
  --text-color-blue: #0e4f95;
  --ft-h3: 1.625rem;
  --ft-h2: 3rem;
  --ft-h1: 4rem!important;
  --ft-h4: 1.5rem;
  --ft-h5: 1.375rem;
  --ft-h6: 1.25rem;
  --ft-bo: 1rem;
  --ft-h3-ln: 2.5rem;
  --ft-h2-ln: 4rem;
  --ft-h1-ln: 5rem;
  --ft-h4-ln: 2.5rem;
  --ft-h5-ln: 2.25rem
  --ft-h6-ln: 2.25rem
  --ft-bo-ln: 2rem;
}

h2{
font-size: var(--ft-h1)!important;
}